# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup Node.js 16.x
      uses: actions/setup-node@v3
      with:
        node-version: 16.x
        cache: 'npm'
    - name: Install Dependencies
      run: npm ci
    - name: Load env file
      run: |
        touch .env
        echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env
        echo "REFRESH_EXPIRES=${{ secrets.REFRESH_EXPIRES }}" >> .env
        echo "ACCESS_EXPIRES=${{ secrets.ACCESS_EXPIRES }}" >> .env
        echo "BCRYPT_SALT_ROUNDS=${{ secrets.BCRYPT_SALT_ROUNDS }}" >> .env
        echo "HOST_PORT=${{ secrets.HOST_PORT }}" >> .env
        echo "DB_TEST_NAME=${{ secrets.DB_TEST_NAME }}" >> .env
        echo "DB_USER=${{ secrets.DB_USER }}" >> .env
        echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
        echo "DB_NAME=${{ secrets.DB_NAME }}" >> .env
        echo "DB_HOST=${{ secrets.DB_HOST }}" >> .env
        echo "DB_DIALECT=${{ secrets.DB_DIALECT }}" >> .env
        echo "NODEMAILER_USER=${{ secrets.NODEMAILER_USER }}" >> .env
        echo "NODEMAILER_PASS=${{ secrets.NODEMAILER_PASS }}" >> .env
        echo "NODEMAILER_SERVICE=${{ secrets.NODEMAILER_SERVICE }}" >> .env
    - run: npm test
